body{
    color:black;

}
.container-choix-creation a{
    min-height:50px;
    max-width:250px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    color:black;
    margin-left:15%;
}
.Ensemble{
    display:flex;
}

.tout{

    display: flex;
}