body{
    color:black;

}
.container-choix-creation a{
    min-height:50px;
    min-width:200px;
    max-width:200px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    color:black;
    margin-left:4%;
}
.Ensemble{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.php{
    width:auto;
    text-align: center;
    justify-content: space-around;

}
#tout{
    display: flex;
    flex-direction: column;

}
#milieu{
    display: flex;
    flex-direction: row;


}
.toolbar{
    height:auto;
    width:70px;
    border: 3px solid white;
}
.haut{
}
