#footerF {
    background: #344341;
    padding: 15px 15px 15px 15px;
    color: #fff;
    font-size: 14px;
}

#footerF .footer-topF {
    background: #3d4f4c;
    border-bottom: 0px solid #4d635f;
    padding: 20px 0 20px 0;
}
#conteneur1F{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: start;
    height:250px

}

#footerF .footer-topF h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}


#footerF .footer-topF .footer-infoF p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

#footerF .footer-topF .social-linksF a {
    font-size: 18px;
    display: inline-block;
    background: #58716d;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
}

#footerF .footer-topF h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footerF .footer-topF .footer-linksF ul i {
    padding-right: 0px;
    color: #56e7d0;
    font-size: 18px;
    line-height: 1;
}

#footerF .footer-topF .footer-linksF ul li {
    padding: 9px 0;
    display: flex;
    align-items: center;
}

#footerF .footer-topF .footer-linksF ul li:first-child {
    padding-top: 0;
}

#footerF .footer-topF .footer-linksF ul a {
    color: #fff;
    display: inline-block;
    line-height: 1;
}


#footerF .copyrightF {
    text-align: center;
    padding-top: 25px;
}

