.ImageP img {
    min-width:150px;
    max-width:100%;
    height: auto;
}
.pageprincipaleP{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.texteP{
    display:flex;
    flex-direction:row;
    width:65%;
    justify-content: space-around;
}
.CentreP{
    text-align:start;
}

.ImageP{
    width:35%;
}
.texteP a{
    color:black;
}
.texteP div {
    margin-top:auto;
    margin-bottom:auto;
    text-align:start;
    color:black;
    width:33%;
}
#milieuP{
    display:flex;
}
.toolbarP {
    height:auto;
    width:70px;
    border: 3px solid white;
}
.pageprincipaleP h2{
    text-align:center;
}
