#ensembleT {

    background: #344341;
    text-align: center;
    width:70px;
    height:100%;


}
#ensemble.activeT{
    height: auto;
    width:70px; /* si on impose une valeur ca bug*/
}
#LiensT{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}
.activeT a{
    color:white;
}