img {
    width:80%;
    height: auto;
}
.pageprincipale{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.texte{
    width:65%;
    text-align:start;
}
.Image{
    width:35%;
}
table{
    text-align:center;
    margin:auto;
}

a {
    color:black;
}