.ImageP img {
    max-width:100%;
    height: auto;
}
.pageprincipaleP{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.texteP{
    width:65%;
    text-align:start;
}
.ImageP{
    width:35%;
}
.texteP table{
    text-align:center;
    margin:auto;
}
.texteP a{
    color:black;
}
.texteP div {
    text-align:center;
    color:black;
    width:100px;
}
#milieuP{
    display:flex;
}
.toolbarP {
    height:auto;
    width:70px;
    border: 3px solid white;
}
.pageprincipaleP h2{
    text-align:center;
}