


                                             /* === HEADER === */

#headerH {
 background: #344341;
 padding: 15px 15px 15px 15px;
 color: #fff;
 font-size: 14px;
}
#headerH h1 {
 color: #fff;
 font-size: 24px;
 margin: 0 0 20px 0;
 padding: 2px 0 2px 0;
 line-height: 1;
 font-weight: 700;
}
#container1H{
 height: 45px;
 background: #3d4f4c;
}
#container2H{
 display:flex;
 background: #3d4f4c;
 justify-content:space-around;
 align-items: start;
 height:40px;
}

#containerH a{
 color:#fff;
}


                                              /* === FOOTER === */

#footerF {
background: #344341;
padding: 15px 15px 15px 15px;
color: #fff;
font-size: 14px;
}

#footerF .footer-topF {
background: #3d4f4c;
border-bottom: 0px solid #4d635f;
padding: 20px 0 20px 0;
}
#conteneur1F{
display: flex;
flex-wrap:wrap;
justify-content:space-around;
align-items: start;
height:250px

}

#footerF .footer-topF h3 {
font-size: 24px;
margin: 0 0 20px 0;
padding: 2px 0 2px 0;
line-height: 1;
font-weight: 700;
}


#footerF .footer-topF .footer-infoF p {
font-size: 14px;
line-height: 24px;
margin-bottom: 0;
font-family: "Roboto", sans-serif;
color: #fff;
}

#footerF .footer-topF .social-linksF a {
font-size: 18px;
display: inline-block;
background: #58716d;
color: #fff;
line-height: 1;
padding: 8px 0;
margin-right: 4px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
}

#footerF .footer-topF h4 {
font-size: 16px;
font-weight: 600;
color: #fff;
position: relative;
padding-bottom: 12px;
}

#footerF .footer-topF .footer-linksF ul i {
padding-right: 0px;
color: #56e7d0;
font-size: 18px;
line-height: 1;
}

#footerF .footer-topF .footer-linksF ul li {
padding: 9px 0;
display: flex;
align-items: center;
}

#footerF .footer-topF .footer-linksF ul li:first-child {
padding-top: 0;
}

#footerF .footer-topF .footer-linksF ul a {
color: #fff;
display: inline-block;
line-height: 1;
}

#footerF .copyrightF {
text-align: center;
padding-top: 25px;
}


                                             /* === Toolbar === */


#ensembleT {
    background: #344341;
    text-align: center;
    width:100px;
    min-height:200px;
    height:100%;

}
#ensemble.activeT{
    height: auto;
    width:70px; /* si on impose une valeur ca bug*/
}
#LiensT{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}
.activeT a{
    color:white;
}

                                             /* parametre de la page générale */
body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  background-color: white;
  color: #333333;
  margin: 0;
  padding: 0;
}
/* Liens dans les tableau d'affichage*/
.lienAffichageTableau{
  color:black;
}

/* centrage des titres */
h2 {
  text-align: center;
}

/* mise de bordure autour des section */
section {
  border: 1px solid gray;
}

/* parametre des tableaux d'affichage */
table {

  border:1px solid black;
  border-collapse: collapse;
  empty-cells: show;
}

                                                              /* === ACCUEIL.PHP === */
/* séparation des paragraphes en deux parties */
.doubleParagraphe p{

  text-align:justify;

}
.doubleParagraphe {
    width:95%;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-direction:column;
    text-align: start;
    justify-content:space-around;
    height:100%;
}
.listesAcc{
    display:flex;
    justify-content: space-between;

}
/* section partenaire */
#AllPartenaires {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items: center;
}
.partenaire{
    display: flex;
    flex-direction: column;
    max-width:400px;
    justify-content:space-around;
    text-align:center;
}
.images-partenaire-taille {
  height: 50px;
  width: 100%;

}
.Carrousel{
    background:ghostwhite;
    height:600px;
}
.mySlides{
    margin-top:auto;
    margin-bottom:auto;
    height:600px;
}
.legendesimg{
    display:flex;
    justify-content: space-around;
}
.legendesimg div{
width:33%;
    text-align:center;
}
.Plus{
    color:black;
}

                                                         /* === RECHERCHE.PHP === */

/* parametre des bouton d'affichage */
.container-lienAffichageR{
  color: black;
  width:100%;
  margin-top: 30px;
  display: flex;
  justify-content:space-around;
}
.container-lienAffichageR div{
  color:black;
  width:33%;
  text-align:center;
}
.PageR {
  min-height:200px;
}
.container-lienAffichageR a{
  color:black;
}
.EditR a{
  color:black;
}
                                             /* === Affichage ensemble des données pour RECHERCHE et EVENEMENT === */

.DonneesR{
display:flex;
flex-direction: column;
border-top: 2px solid black;

}
.VideHautGauche{
  width:33%;
}
.TitreR{
    line-height:30px;
    white-space: normal;
  width:33%;
  margin-top:auto;
  margin-bottom:auto;
}
.EnsembleDatesR{
    margin-top:2%;
    margin-right:3%;
    justify-content: center;
    width:33%;
    text-align: right;
}

.Ligne1R{
    margin-top: 20px;
  display:flex;
  justify-content: space-around;
  text-align:center;
}
.Ligne2R{
  text-align:center;
}
.Ligne3R{
    margin-top:30px;
    text-align:center;
    margin-bottom:30px;
    margin-left:3%;
}
.Ligne4R{
  margin-bottom:30px;
  text-align:center;
  display:flex;
}
.tierR{
  width:33%;
}
.demiEv{
    width:50%;
}

.DonneesR h2{
    margin-top: 60px;
  text-decoration-line: underline;
}
.VideHautGauche {
    margin-top:2%;
    margin-left:3%;
    text-align: left;
}
                                             /* === EVENEMENT.PHP === */

.Page{
    height:100%;
    width:100%;
}

                                                /* === MEMBRE.PHP === */

.img-containerPersonnel img{
    max-width:45%;
    min-width:150px;
    height: auto;
}
.img-containerPersonnel{
   margin-left: 100px;
}

#col {
  column-count: 2;
}

/* === ConnexionEtudiant+ConnexionPersonnel === */
.PageC {
  margin-top:50px;
  min-height: 170px;
  text-align:center;
}
                                             /* === RECHERCHE.PHP === */

.PageEns {
  min-height:200px;
}

                                             /* === Ajout.PHP et VoirInscriptions.php === */

.container-choix-creationAj a{
     min-height:50px;
     width:200px;
     display:flex;
     flex-direction: column;
     justify-content:space-around;
     color:black;
}
.container-choix-creationAj{
    margin-left:4%;
}
.EnsembleAj{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.EnsembleVI {
    width:100%;

}
.EnsembleVI table{
    width:100%;
    text-align:center;
}
.EnsembleVI table tr a{
    color:black;
}
.phpAj{
    width:150px;
    text-align: center;
    justify-content: space-around;
    margin: auto;

}
#toutAj{
 display: flex;
 flex-direction: column;

}
#milieuAj{
 display: flex;
 flex-direction: row;


}
.toolbarAj{
 height:auto;
 width:auto;
 border: 3px solid white;
}
.hautAj{
}
                                             /* === Profil.PHP === */


 .ImageP img {
     min-width:150px;
     max-width:100%;
     height: auto;
 }
 .pageprincipaleP{
     display:flex;
     flex-direction:row;
     justify-content: flex-start;
 }
 .texteP{
     display:flex;
     flex-direction:row;
     width:60%;
     justify-content: space-around;
 }
 .CentreP{
     text-align:start;
 }

 .ImageP{
     width:40%;
     margin-right:10%;
 }
 .texteP a{
     color:black;
 }
 .texteP div {
     margin-top:auto;
     margin-bottom:auto;
     text-align:start;
     color:black;
     width:33%;
 }
 #milieuP{
     display:flex;
 }
 .toolbarP {
     height:auto;
     width:70px;
     border: 3px solid white;
 }
 .pageprincipaleP h2{
     text-align:center;
 }

