/* parametre de la page générale */
body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  background-color: white;
  color: #333333;
  margin: 0;
  padding: 0;
}

/* centrage des titres */
h2 {
  text-align: center;
}

/* mise de bordure autour des section */
section {
  border: 1px solid gray;
}

/* parametre des tableaux d'affichage */
table {
  border-style: solid;
  border-collapse: collapse;
  empty-cells: show;
}

/* === ACCUEIL.PHP === */
/* séparation des paragraphes en deux parties */
.doubleParagraphe p{
  width:90%;
  min-width: 100px;
  max-width: 740px;
  text-align:justify;
}
.doubleParagraphe {
  display: flex;
  text-align: start;
  justify-content:space-around;
}
/* section partenaire */
#AllPartenaires {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items: center;
}
.partenaire{
  display: flex;
  flex-direction: column;
  max-width:400px;
  justify-content:space-around;
}
.partenaire p{
  text-align:justify;
  min-width: 100px;
  max-width:300px;
}
.images-partenaire-taille {
  height: 100px;
  width: 100px;
}

/* === RECHERCHE.PHP === */
/* parametre des bouton d'affichage */
a .lienAffichage{
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}
.container-lienAffichage{
  display: flex;
  justify-content:space-around;
}

/* === MEMBRE.PHP === */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*ici,trois colonne qui prennent toutes la largeur dispo*/
}

label {
  display: block;
  margin: 5px 0;
}

